/*
1. Posicionamiento 
2. Modelo caja (Box Model)
3. Tipografia
4. Visuales
5. Otros
*/
:root {
    /* Colores */ 
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue:#e7f5ff;
    --warm-black:#201e1c;
    --black:#282623;
    --grey:#bababa;
    --off-white:#faf8f7;
    --just-white:#fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size:62.5%;
    font-family: 'DM Sans', sans-serif;
}


main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    text-align: center; 
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(./assets/img/Bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--black);
    line-height: 2.6rem;
}

.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}